################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InventManagement/FileContentIndex/121dca12-2353-4f61-8591-e14f913fe72f.vsidx
/.vs/InventManagement/FileContentIndex/8783a023-03dc-44bb-ac99-0d024f1f9de4.vsidx
/.vs/InventManagement/FileContentIndex/c324d317-aca9-40e5-a3d7-241d8529433d.vsidx
/.vs/InventManagement/FileContentIndex/666ec1c3-74b3-447a-ba40-a9635aa72a31.vsidx
/.vs/InventManagement/FileContentIndex/deaa77a5-f842-40ee-abba-ba40df5481d8.vsidx
/.vs/InventManagement/FileContentIndex/fda0e4e5-98d1-4d22-afaf-584206d6fa1c.vsidx
/.vs/InventManagement/FileContentIndex/a62f9f7e-cbb3-483e-a231-6b2e0b554ecc.vsidx
*.vsidx
